body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    margin:0px;
}
.header-main{
    display: inline-block;
    flex-grow: 1;
    min-width: auto;
    float: right;
}

.flex-right{
    padding-top: 12px;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    float: right;
    padding-left: 32px;
}

.gmail-lk{
    display: inline-block;
    padding-left: 15px;
}

.gmail{
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    padding-right: 15px;
}

.gmail:hover{
    text-decoration: underline;
}

.prof{
    float: right;
}

.dotimg{
    max-width: 24px;
    max-height: 24px;
    display: -webkit-inline-box;
}

.accimg{
    max-width:25px;
}

.main-img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    padding-top: 125px;
}

.main-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-img{
    max-height: 92px;
    height: 100%;
    margin-top: auto;

}

.img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search-box-m{
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.search-box-sec{
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.search{
    background-color: transparent;
    border: none;
    margin: 0;
    margin-top: 0px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: 0px;
    height: 34px;
    font-size: 16px;
    padding-left: 50px;
}

.search-box-sec:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search-img{
    height: 15px;
    display: flex;
    position: absolute;
    padding-left: 15px;
    padding-top: 12px;
}

.two-buttons-box{
    height: 70px;
    padding-top: 18px;
}

.button1{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button1:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.add-lang-box{
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

.add-lang-ibox{
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
}

.text-add{
    display: inline-block;
    line-height: 28px;
    padding: 0px 3px;
}

.a_tag{
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
}

.footer-flex{
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-nation{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footer-other{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-o-l{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-footer{
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

